//
// Layout
// Note: Must name this file "outline" instead of "layout"
//       Or Hexo will use it as template layout.
// =================================================


html, body { height: 100%; }

.container {
  position: relative;
  min-height: 100%;
}


// Header Section
// --------------------------------------------------
.header-inner {
  margin: 0 auto;
  padding: 100px 0 70px;
  width: $content-desktop;

  +desktop-large() {
    .container & { width: $content-desktop-large; }
  }
}

.ribbon {
  background-color: #a00;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  right: -45px;
  top: 40px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
  }
}

// Main Section
// --------------------------------------------------
.main { padding-bottom: $footer-height + $gap-between-main-and-footer; }
.main-inner {
  margin: 0 auto;
  width: $content-desktop;

  +desktop-large() {
    .container & { width: $content-desktop-large; }
  }
}


// Footer Section
// --------------------------------------------------
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: $footer-height;
}
.footer-inner {
  box-sizing: border-box;
  margin: 20px auto;
  width: $content-desktop;

  +desktop-large() {
    .container & { width: $content-desktop-large; }
  }
}
