article.archive {
  padding: 0;
  margin: 2em auto;
}
.archive-post {
  text-align: left;
  margin: 2em auto;
}
.archive-post .archive-title {
  font-size: 1.4em;
  line-height: 1;
  position: relative;
  color: #212121;
  margin: 0;
}
.archive-post .archive-title a {
  color: #333;
}
.archive-post .archive-title a span {
  padding-bottom: 3px;
}
.archive-post .archive-title a:hover {
  color: #212121;
}
.archive-post .archive-title a:hover span {
  background-size: calc(100% + 1px) 100%;
  border-bottom: 2px solid transparent;
  background-repeat: no-repeat;
  background-position: -1px calc(100% + 3px);
  animation: ani 0.4s ease 0s 1 normal forwards running;
}
.archive-post time {
  font-style: italic;
}
.archive-post time a {
  font-size: 1.4rem;
  color: #9e9e9e;
}
.archive-post time a:before {
  content: '#';
}
.archive-post time a:hover {
  color: #de4c4f;
}
