.header {
  background: $head-bg;
  font-family: fantasy;
}

.header-inner {
  position: relative;
}
#search-form {
  position: relative;
}
#search-form .fa-search {
  position: absolute;
  color: #999;
  opacity: 0.5;
  top: 8px;
  left: 10px;
}
#search-form .search-input {
  height: 30px;
  width: 150px;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 30px;
  border: 1px solid transparent;
  border-bottom: 1px solid #999;
  opacity: 0.5;
  background: #f5f5f5;
  outline: none;
  color: #e3e3e3;
}
#search-form .search-input:focus {
  opacity: 1;
}
@media screen and (max-width:700px) {
  #search-form  {
    display: none;
  }
}
@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
