.header {
  background: $head-bg;
}

.header-inner {
  position: relative;
}
#search-form {
  position: relative;
}
#search-form .fa-search {
  position: absolute;
  color: #e3e3e3;
  top: 8px;
  left: 10px;
}
#search-form .search-input {
  height: 30px;
  width: 150px;
  line-height: 30px;
  box-sizing: border-box;
  padding-left: 30px;
  border: 1px solid transparent;
  border-bottom: 1px solid #e3e3e3;
  background: #f5f5f5;
  color: #2c3e50;
  outline: none;
  color: #e3e3e3;
}

@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
